* {
  margin: 0;
  padding: 0;
}
:root {
  --orange: hsl(35, 77%, 62%);
  --red: hsl(5, 85%, 63%);
  --offWhite: hsl(36, 100%, 99%);
  --gray: hsl(233, 8%, 79%);
  --darkGray: hsl(236, 13%, 42%);
  --darkBlue: hsl(240, 100%, 5%);
}
body {
  position: relative;
  font-family: "Inter", sans-serif;
}
.navdesktop {
  display: none;
}
.navmobile {
  display: none;
  position: absolute;
  top: -30px;
  right: -100%;
  width: 256px;
  height: 100vh;
  background-color: white;
  z-index: 1;
}
.closemenu {
  position: absolute;
  top: 30px;
  right: 30px;
}
.menumobile {
  margin-top: 130px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menumobile a {
  text-decoration: none;
  color: var(--darkBlue);
}
.shaddow {
  display: none;
  position: absolute;
  top: -30px;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: 0;
  transition: 0.3s;
}
.show {
  display: block;
  right: 0;
}
.nav {
  margin: 28px auto 32px;
  width: 90%;
  height: 28px;
  display: flex;
  justify-content: space-between;
}
header {
  margin: 0 auto 64px;
  width: 90%;
}
header img {
  width: 100%;
  margin-bottom: 24px;
}
h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 800;
}
.headerText p {
  margin-bottom: 24px;
  font-size: 15px;
  line-height: 26px;
}
.headerText a {
  font-size: 14px;
  padding: 13px 35px;
  background-color: var(--red);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4.5px;
}
.new {
  box-sizing: border-box;
  padding: 20px 24px;
  margin: 0 auto 64px;
  width: 90%;
  background-color: var(--darkBlue);
  color: white;
}
.new h2 {
  margin-bottom: 35px;
  color: var(--orange);
}
.new h3 {
  margin-bottom: 10px;
  font-size: 20px;
}
.new p {
  font-size: 15px;
  line-height: 26px;
  color: var(--gray);
}
.new div:nth-child(3) {
  margin: 30px 0;
  padding: 30px 0;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
}
section {
  margin: 0 auto 80px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
section > div {
  display: flex;
}
section img {
  margin-right: 24px;
  width: 100px;
}
.sectionText h3 {
  margin-bottom: 12px;
  font-size: 32px;
  color: var(--gray);
}
.sectionText h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 800;
}
.sectionText p {
  font-size: 15px;
  line-height: 26px;
  color: var(--darkGray);
}
footer {
  margin-bottom: 20px;
  font-size: 10px;
  text-align: center;
}
footer a {
  color: black;
  text-decoration: none;
}
@media (min-width: 1024px) {
  .navdesktop {
    display: block;
  }
  .menumobile {
    display: none;
  }
  .burger {
    display: none;
  }
  .nav {
    margin: 50px auto 50px;
    width: 60%;
  }
  .navdesktop a {
    margin-left: 40px;
    font-size: 15px;
    color: var(--darkGray);
    text-decoration: none;
  }
  .navdesktop a:hover {
    color: var(--orange);
  }
  .header-aside {
    margin: 0 auto 71px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  header {
    margin: 0 auto 0px;
    width: 80%;
  }
  header img {
    margin-bottom: 28px;
  }
  .headerText {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 120px;
  }
  .headerText a:hover {
    background-color: black;
    color: white;
  }
  h1 {
    width: 120%;
    font-size: 56px;
    line-height: 56px;
  }
  .headerText p {
    margin-bottom: 29px;
  }
  .new {
    padding: 32px 24px;
    margin: 0 auto;
    width: 35%;
  }
  .new h3:hover {
    color: var(--orange);
    cursor: pointer;
  }
  section {
    margin: 0 auto 60px;
    width: 60%;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .sectionText h4 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 800;
  }
  section h4:hover {
    color: var(--orange);
    cursor: pointer;
  }
}
